.git
node_modules
dist
**/*.log

.env
apps/api/.env
apps/pocketbase/.env

apps/pocketbase/pb_data
apps/pocketbase/pb_data_local
apps/pocketbase/pb_snapshots
apps/pocketbase/pocketbase
apps/pocketbase/pocketbase.exe

apps/web/test-results
apps/web/playwright-report
